body{
    background-color: #E6E6FA;
    font-family: 'Trebuchet MS';
}

#phat{
width: 60%;
}

#ClosedCard{
    background-color: rgb(221, 129, 209);
    text-align: center;
    width: 20rem;
    margin: auto;
    margin-top: 10em;
    height: 30em;
    border: black 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#ClosedCard h1{
    padding-top: 1em;
    color: black;
    
}

/* .hidden{
    display: none;
} */


#img1{
    width: 20%;
    float: left;
    position: relative;
}

#img2{
    float: right;
    width: 20%;
}


#openedCard{
    background-color: rgb(221, 129, 209);
    text-align: center;
    width: 40rem;
    margin: auto;
    margin-top: 10em;
    height: 30em;
    border: black 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
}

#leftSide{
    height: 100%;
    width: 50%;
    border-right: 1px black solid;
    
}

#rightSide{
    height: 100%;
    width: 50%;
    border-left: 1px black solid;
}

#opCardImg{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60%;
}

#leftSide p{
    font-size: 150%;
    font-family:"Brush Script MT", "Brush Script Std", "cursive" ;
}

#rightSide p {
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}



#ending{
    text-align: left;
    margin-top: 2em;
    margin-left: 1em;
}

#RSImg{
    width: 50%;
    margin-top: 3em;
    margin-bottom: 6em;
}